@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  /* font-family: sans-serif; */
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5rem;
  background:linear-gradient(to top left, #9285f8,rgb(223, 224, 241));
  /* background-color:rgb(187, 191, 241); */
  scroll-behavior:smooth;
}

nav{
  color: white;
}

.navbar{
position:fixed;
top:0px;
right: 0px;
left:0px;
z-index: 20;
}

.navbar-brand{
  font-size: 1.8rem;
  text-decoration: underline;
}
.navbar-brand:hover{
  text-decoration:underline;
}
  
.nav-link{
  color:white;

}

.nav-item{
 
  margin:0 10px 0;
}

#team-icon{
position: absolute;
right:100px;
top:20px;
font-size: 1.8rem;
}

#team-icon:hover{
  color: white;
font-size: 2rem;
cursor: pointer;
}

#about-img{
/* width:50%; */
height: 87%;
opacity: 0.7;
padding: 20px;

}
#about-text{
  padding-right: 65px;
  padding-top: 120px;
  font-size: 1.5rem;
}
.content{
font-size: 1.8rem;
margin:130px 0px;
}
.content-2{
height:600px;
}

.socials {

 
  margin: 0 10px 30px;
}

/* ##Footer */


footer{
  background: black;
  color: white;
  padding: 9px 0px;
  text-align: center;
  position: relative;
  bottom: 0px; 
  margin-top: 15px;
}

footer i{
  color: white;
  color: rgb(136, 176, 223);
  margin: 12px;
  font-size: 2.1rem;
}

footer i:hover{
  color: rgb(60, 55, 134);
}
/* Contact */




.contact-page{
  width: 100%;
  max-width: 1400px;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

h2{
  width: 100%;
  margin-bottom: 80px;
  text-transform: uppercase;
   color:  #3494db;
  /* text-shadow:3px 3px 2px red; */
  font-size: 60px;
}

.contact-info, .contact-form{
  flex: 1;
}

.item{
  margin-bottom: 24px;
  font-size: 16px;
  color: #322;
}

.item span{
  font-size: 1.5rem;
}

.icon{
  width: 60px;
  height: 60px;
  line-height: 20px;
  background-color: #3494db;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  padding-top: 20px;
  margin-right: 16px;
}

.contact-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textb{
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

textarea{
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  padding: 12px;
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

.btn{
  width: 120px;
  height: 40px;
  margin-left: auto;
  background-color: #3494db;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #3494db;
  transition: .3s linear;
}

.btn:hover{
  background-color: transparent;
  color: #3494db;
}

@media screen and (max-width: 980px){
  .contact-page{
    max-width: 800px;
  }
  h2{
    font-size: 40px;
    margin-bottom: 40px;
  }

  .contact-info, .contact-form{
    flex: 100%;
    margin-bottom: 30px;
  }
  .textb{
    width: 100%;
  }
}

.items{
    width: 200px;
}

#intro{
    font-size: 2.5rem;
    background:linear-gradient(to top left,blue,white);
     padding: 20px 90px;
}


 #intro-btn{
     background-color: black;
     margin-left: 45%;
     margin-top:40px;
      /* text-align: center; */
 }

 #intro-btn:hover{
     background-color: white;
     
 }

blockquote{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 120px;
}

/* Cards */
.card{
  margin-top: 50px;
  height:300px;
}
.card:hover{

    box-shadow: 2px 2px 10px 2px black;
}
.card img{
    /* text-align: center; */
    width:210px;
    padding:10px;
    padding-left: 35px;
}

.card-body{
   margin-top: 10px;
   padding:0px;
   padding-bottom: 10px;
   padding-left:30px;
   font-size: 1.5rem;
   /* border:2px solid blue; */
   background-color:#f4f6ff;
   
  }
  
  .card-body:hover{
    background-color:#d1d2da;
   
 }
/* 
.dec{
    position: absolute;
    bottom: 0;
} */

.myCarousel{
width:100%;
}

.myCarousel-items{
  height:540px;
  width:100vw;
  object-fit:contain;
  /* margin-left:85px; */
}


.row{
  margin: 150px 0px;
}


.mission-head{
  font-size:5rem;
  color: white; 
  margin-top: 90px;
}

.mission-content{ 
  text-align: center;
  margin-top: 90px;
}

#top-deals{
color: yellow;
border:2px solid yellow;
border-radius:100%;
}

#top-deals:hover{
  color: #ed293f;
  background-color: white;
border:2px solid #ed293f;
}

/*  Animation */
.slide-container{
  position:relative;

  /* padding:60px 0px; */
  top:40px;
  height:400px;
}

 

#aimg{
  position:absolute;
  opacity:0;
  right:0px;
  width:225px;
  animation-name: one;
  animation-delay:3s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes one{
  0%{
    right:0px;
    
  }
  15%{
    right:200px;
  }
  30%{
    right:400px;
  }
  45%{
    right:600px;
  }
  60%{
    right:800px;
  }
  75%{
     right:1000px;
  }
  90%{
    right:1200px;
  }
  100%{
    right:1500px;
    opacity:0;
  }
  
}
#bimg{
  position:absolute;
  right:0px;
  opacity:1;
  width:225px;
  animation-name:two;
  animation-delay:2s;
  animation-duration:3s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes two{
  0%{
    right:0px;
    
  }
  15%{
    right:200px;
  
  }
  30%{
    right:400px;

  }
  45%{
    right:600px;
  }
  60%{
    right:800px;
  }
  75%{
    right:1000px;
  }
  90%{
    right:1200px;
  }
  100%{
    right:1500px;
    opacity:0;
  
  }
}
#cimg{
  position:absolute;
  right:0px;
  opacity:1;
  width:225px;
  animation-name:two;
  animation-delay:3s;
  animation-duration:3s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes two{
  0%{
    right:0px;
    
  }
  15%{
    right:200px;
    opacity:1;
  
  }
  30%{
    right:400px;

  }
  45%{
    right:600px;
  }
  60%{
    right:800px;
  }
  75%{
    right:1000px;
  }
  90%{
    right:1200px;
  }
  100%{
    right:1500px;
    opacity:0;
  
  }
}
#dimg{
  position:absolute;
  right:0px;
  opacity:1;
  width:225px;
  animation-name:two;
  animation-delay:4s;
  animation-duration:3s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}
#eimg{
  position:absolute;
  right:0px;
  opacity:1;
  width:225px;
  animation-name:two;
  animation-delay:5s;
  animation-duration:3s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}
#fimg{
  position:absolute;
  right:0px;
  opacity:1;
  width:225px;
  animation-name:two;
  animation-delay:6s;
  animation-duration:3s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}
#gimg{
  position:absolute;
  right:0px;
  opacity:1;
  width:225px;
  animation-name:two;
  animation-delay:7s;
  animation-duration:3s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}

.team-info{
  /* border: 2px solid white; */
  /* margin-top:100px; */
  padding:30px 100px;
  color: white;
  border-radius: 3.5%;
  margin-bottom: 40px;
}
.team-info img{
  width: 200px;
  border-radius:10%;
}

.team-names i{
   font-size: 2.4rem;
   letter-spacing: 2rem; 
}

.team-names i:hover{
  font-size: 2.5rem;
  color:rgb(7, 230, 211);
}

.partners{
  text-align: center;
  font-size: 135px;
  margin-left: 25%;
    
}

.partners h1{
  color:white;
  text-align:left;
  margin-left:100px;
  font-size:5rem;
}


#deal{
 position:absolute;
 z-index:1;
 top:200px;
 width:200px;
 height:120px;
 left:150px;
 border-radius:10px;
 border:2px solid black;
}
#notice{
  text-align:center;
}

#demo{
  color:black;
  margin-top:-20px;
  font-size: 3.6rem;
}

 